<section>
    <h2>Crie sua própria sala</h2>
    <form action="/creat-room" method="POST">
        <div class="field">
            <label class="sr-only" for="room-pass">Insira sua senha</label>
            <input type="number" name="password" id="room-pass" placeholder="Insira sua senha" required>
            <i class="fas fa-eye"></i>
        </div>
        <button>
            <img src="img/users-white.svg" alt="Criar sala">
            Criar sala
        </button>
    </form>
</section>
